@charset "utf-8";

/* 모바일 반응형 */
@media screen and (max-width:767px){
  header{
    margin: 50px 20px;
    width: 150px;
    text-align: center;
    height: 100%;
  }
  nav{
    font-weight:500;
    font-size: 20px;
  }
  nav ul li{
    line-height: 40px;
  }
}